* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'League Spartan', sans-serif;
}

body {
  background-color: black;
  color: white;
  padding: 2rem;
}

.logo {
  max-width: 100%;
  width: 200px;
}

@media (min-width: 1440px) {
  .logo {
    width: 300px;
  }
} 

header {
  display: flex;
  justify-content: center;
  padding: 20px;
}

